## Lists and Tuples
Python has two sequence structures: lists and tuples. Both contain zero or more elements, and each element can be any Python object. Also, unlike strings, the elements in lists or tuples can be of different types. You can create deep and complex structures with the lists and tuples.

Tuples are immutable and lists are mutable, which means you can insert and delete elements in lists.

A list is made from zero or more elements, separated by commas, and surrounded by square brackets

In [9]:
empty_list = [ ]
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

print(empty_list)
print(big_birds)
print(first_names)

[]
['emu', 'ostrich', 'cassowary']
['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [11]:
another_empty_list = list()  # We can also make an empty list with the list() function
print(another_empty_list)

[]

Pythonâ€™s list() function converts other data types to lists.

In [15]:
aa = list('Fantastic')                   # Converts a string to a list of one-character strings
print(aa)

a_tuple = ('ready', 'aim', 'shoot')  
print(list(a_tuple))                      # Converts a tuple to a list

['F', 'a', 'n', 't', 'a', 's', 't', 'i', 'c']
['ready', 'aim', 'shoot']

In [31]:
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
print(first_names[1])       # Can extract a single value from a list by specifying its offset
print(first_names[-1])      # Negative indexes count backward from the end

John
Michael

In [32]:
print(first_names.index('John'))    # To know the offset of an item in a list by its value, use index()
print('Terry' in first_names)        # To check for the existence of a value in a list

1
True

You can delete an item from the list by using pop(). If you call pop() with an offset, it will return the item at that offset; with no argument, it uses -1. So, pop(0) returns the head (start) of the list, and pop() or pop(-1) returns the tail (end)

In [34]:
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
print(first_names.pop())
print(first_names)

print(first_names.pop(1))
print(first_names)

Michael
['Graham', 'John', 'Terry', 'Terry']
John
['Graham', 'Terry', 'Terry']

In [19]:
#  Lists can contain elements of different types, including other lists

small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
all_birds = [small_birds, extinct_birds]

print(all_birds)
print(all_birds[1])      # As thesecond item is a list, the list is printed 

print(all_birds[1][0])   # The first item of extinct_birds can be extracted from 'all_birds' by specifying two indexes

[['hummingbird', 'finch'], ['dodo', 'passenger pigeon', 'Norwegian Blue']]
['dodo', 'passenger pigeon', 'Norwegian Blue']
dodo

A particularly useful function for lists is 'zip'. It can be used to merge two given lists into a new list by pairing the elements of the original lists. The result is a list of tuples.

In [44]:
ind = [0,1,2,3,4,5,6]
color = ["red", "green", "blue", "alpha"]
list(zip(color,ind))      # The length of the zipped list is the shorter of the two input lists

[('red', 0), ('green', 1), ('blue', 2), ('alpha', 3)]

### Lists with 'if' statements

We can use 'if' statement to iterate through a loop in order to check for a condition or to test if an element is present in the list

In [29]:
cities = ['Sydney', 'New York', 'Philadelphia', 'New Delhi', 'Chicago', 'London', 'Manchester', 'Paris']
if 'New Delhi' in cities:
    print('Capital of India is present in the list')

Capital of India is present in the list

In [2]:
l1 = [22, 13, 45, 50, 18, 69, 43, 144, 106]
[x/2 if x > 45 else x*2 for x in l1]           # Another example

[44, 26, 90, 25.0, 49.0, 34.5, 86, 88, 53.0]

In [30]:
cities = ['Sydney', 'New York', 'Philadelphia', 'New Delhi', 'Chicago', 'London', 'Manchester', 'Paris']
print(cities)
for j in range(len(cities)):
    if cities[j] == 'Chicago':
        cities[j] = '**' + cities[j] + '**'
    else:
        cities[j] = '++' + cities[j] + '++'
print(cities)

['Sydney', 'New York', 'Philadelphia', 'New Delhi', 'Chicago', 'London', 'Manchester', 'Paris']
['++Sydney++', '++New York++', '++Philadelphia++', '++New Delhi++', '**Chicago**', '++London++', '++Manchester++', '++Paris++']

### Lists with 'for' loop

The keyword "for" tells Python to get ready to use a loop and the variable "dog" is a temporary placeholder variable. This is the variable that Python will place each item in the list into, one at a time.

Each time through the loop, the value of "dog" will be change with 'border collie', 'australian cattle dog' and 'labrador retriever' respectively. As there are no more items in the list, the loop will end.

In [10]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dog)

border collie
australian cattle dog
labrador retriever

In this example, we are given a list of strings, we need to filter out strings with length 2 or less and convert them to uppercase. We ca do this using 'for' loop and 'if' statements as shown below:

In [31]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

### Lists with 'lambdas'

In the below example, we are multiplying every number in list 'x' by 5 and adding that value the the list 'y'. Here, map() takes in a function (our lamda function) and an iterable (x) and then returns another iterable.

In [32]:
x = [20, 30, 40, 50, 60]
y = list(map(lambda v : v * 5, x))        # Multiplies a list with 5 and prints
print(y)

[100, 150, 200, 250, 300]

In [33]:
[(lambda x: x*x)(x) for x in range(10)]   # Prints a list of squares in range (0,10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Enumerating a list

When looping through a list, sometimes we might need the index of the current item. The enumerate() function tracks the index of each item, as it loops through the list.

The value in the variable 'index' is always an integer. If you want to print it in a string, you have to turn the integer into a string:

In [19]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index)
    print("Place " + place + ": " + dog.title())       # The method title() returns a copy of the string in which first characters of all the words are capitalized

Results for the dog show are as follows:

Place 0: Border Collie
Place 1: Australian Cattle Dog
Place 2: Labrador Retriever

### Tuples

In [26]:
colors = ('red', 'green', 'blue')
print("The first color is: " + colors[0])

print("\nThe available colors are:")
for color in colors:
    print(color)

The first color is: red

The available colors are:
red
green
blue

If you try to add something to a tuple, you will get an error. The same happens when you try to remove something from a tuple, or modify one of its elements. This is because tuples are immutable. Once you create a tuple, its values will not change.
We can often use tuples in place of lists, but they have many fewer functionsâ€”there is no append(), insert(), and so onâ€”because they canâ€™t be modified after creation.

In [43]:
colors = ('red', 'green', 'blue')
colors.append('purple')

AttributeError: 'tuple' object has no attribute 'append'

We can find the index of the item in a tuple

In [48]:
colors = ('red', 'green', 'blue')
print(colors.index('green'))
print(colors.index('blue'))
print(colors.index('red'))

1
2
0

In [41]:
colors = ('red', 'green', 'blue')
a, b, c = colors     # Tuples let us assign multiple variables at once. This is called tuple unpacking
print(a)
print(b)
print(c)

red
green
blue

In [42]:
a, b = b, a     # can use tuples to exchange values in one statement without using a temporary variable
print(a)
print(b)
print(c)

green
red
blue

One of the most common uses of variable unpacking when iterating over sequences of tuples or lists:

In [49]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
     print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

The objects stored in a tuple may be mutable themselves, but, once created, itâ€™s not possible to modify which object is stored in each slot:

In [53]:
a_tup = tuple(['foo','bar', [1, 2, 4, 8], True])
print(a_tup)
a_tup[2] = False    
a_tup[3] = False          # Returns Error

('foo', 'bar', [1, 2, 4, 8], True)

TypeError: 'tuple' object does not support item assignment

In [54]:
a_tup = tuple(['foo','bar', [1, 2, 4, 8], True])
a_tup[2].append(3)       # Appends an element in the list
print(a_tup)

('foo', 'bar', [1, 2, 4, 8, 3], True)

In [55]:
#  Tuples can be concatenated using the + operator to produce longer tuples

(4, None, 'foo') + (6, 0) + ('bar', 0)

(4, None, 'foo', 6, 0, 'bar', 0)

Here, only (4, None, 'foo') and (6, 0) are tuples and so, when we try to concatenate, it returns an error. This can be corrected by adding a comma to 'bar' as shown below:

In [56]:
(4, None, 'foo') + (6, 0) + ('bar')

TypeError: can only concatenate tuple (not "str") to tuple

In [57]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together that many copies of the tuple.

In [58]:
('red', 'green', 'blue') * 3

('red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue')

### Tuples with 'if' statements

'if' statement can be used to check if an element is in the tuple

In [74]:
tupl = (1,2,3,4,5)

if 1 in tupl:
    print('yes, found it!')
else:
    print('nope')

yes, found it!

### Tuples with 'for' loops

In [59]:
x = [(1,'Ben'), (2,'Sam'), (3,'Dinesh')]

for item in x:
    print(item)
    
print('\n')

for a,b in x:                 # As each element of the iterable is a tuple, we can specify two variables and
    print(a, "is", b)         # each element in the loop will be unpacked to the two

print('\n')

for a,b in enumerate(x):      # enumerating over tuple
    print(a, ": ", b)

(1, 'Ben')
(2, 'Sam')
(3, 'Dinesh')


1 is Ben
2 is Sam
3 is Dinesh


0 :  (1, 'Ben')
1 :  (2, 'Sam')
2 :  (3, 'Dinesh')

### Tuples with 'lambdas'

We can create tuples using a lambda function

In [66]:
func = tuple(map(lambda x: x * x * x, range(0,30,2)))
print(func)

(0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952)

### \*args and \**kwargs

The symbol * makes args iterable which means that you can run a for loop and process every argument inside the args list.  This is useful when we donâ€™t know how many arguments we need to pass in.

In [9]:
def echo_args(*args):
    for arg in args:
        print(arg)
        
echo_args('defg',2,3)    
print('\n')
echo_args(4,65,32,'you','me')

defg
2
3


4
65
32
you
me

This is another example of \*args/

In [4]:
def testify(arg1, *argv):
    print("first argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)
 
testify('Hello', 'Welcome', 'to', 'Geeks')
testify('Here', 'is', 'the', 'code', 'for', 'the', 'given', 'example')

first argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : Geeks
first argument : Here
Next argument through *argv : is
Next argument through *argv : the
Next argument through *argv : code
Next argument through *argv : for
Next argument through *argv : the
Next argument through *argv : given
Next argument through *argv : example

The special syntax \**kwargs in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

A keyword argument is where you provide a name to the variable as you pass it into the function. One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it.

In [18]:
def print_kwargs(**kwargs):       # A function to simply print out the **kwargs arguments that we pass
        print(kwargs)    

print_kwargs(kwargs_1="Shark", kwargs_2=4.5, kwargs_3=True)   # Call the function with some keyworded arguments passed into the function

{'kwargs_1': 'Shark', 'kwargs_2': 4.5, 'kwargs_3': True}

#### Resources Used:<br>
1. Python for Data Analysis by Wes McKinney
2. Mastering Python Regular Expressions by FÃ©lix LÃ³pez and VÃ­ctor Romero
3. Scientific Computing with Python 3 by Claus FÃ¼hrer, Jan Erik Solem and Olivier Verdier
4. Functional Python Programming by Steven Lott
5. https://www.analyticsvidhya.com/
6. https://stackoverflow.com/